{{!-- usuario/index.handlebars --}}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
  
{{!-- Seção de conteúdo da página --}}
<div class="container mt-4">
    <h1 class="mb-4">Cadastro de Usuarios</h1>
    <div class="row mb-3">

        <div class="col-md-10 mb-3">
            <!-- 
            <form action="../usuariosSearch/" method="post" class="d-flex" id="searchForm">
                <div class="input-group">
                    <input type="text" class="form-control" name="valorPesquisa" id="valorPesquisa"
                        placeholder="Pesquisar...">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i> Pesquisar</button>
                    </div>
                </div>
            </form>-->
        </div>
        <div class="col-md-2 d-flex justify-content-end mb-3">
            <!-- Botão Novo -->
            <a href="../usuariosCreate/" class="btn btn-success"><i class="bi bi-plus-circle"></i> Novo</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped hover" id="dataTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Data Criação</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                {{#each usuarios}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{formatDate createdAt}}</td>
                    <td>{{nome}}</td>
                    <td>{{email}}</td>
                    <td class="text-center">
                            <!-- Link de Edição -->
                            <a class="btn btn-secondary mt-1" href="../usuarios/{{id}}" title="Editar"><i class="bi bi-pencil"></i></a>

                            <!-- Link de Exclusão - Botão para acionar o modal -->
                            <button class="btn btn-danger mt-1" data-bs-toggle="modal"
                                data-bs-target="#confirmDeleteModal{{id}}" title="Excluir"><i class="bi bi-trash3"></i></button>
                    </td>
                </tr>
                 <!-- Modal de Confirmação de Exclusão -->

                <div class="modal fade" id="confirmDeleteModal{{id}}" tabindex="-1"
                    aria-labelledby="confirmDeleteModalLabel{{id}}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="confirmDeleteModalLabel{{id}}">Exclusão</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Tem certeza que deseja excluir o usuario: <strong>{{titulo}}</strong>?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> Cancelar</button>
                                <!-- Botão de Confirmação - Chama a função JavaScript para excluir -->
                                <button type="button" class="btn btn-danger"
                                    onclick="confirmDeleteUsuario({{id}})"><i class="bi bi-check-circle"></i> Confirmar</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<!-- Scripts do formulário usuario -->
<script src="../js/usuarioScripts.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>new DataTable('#dataTable');</script>
